apifest.host=
apifest.port=
apifest.mappings=
apifest.global-errors=
connect.timeout=
custom.jar=
apifest.nodes=
hazelcast.password=
oauth20.database=
db_uri=
redis.sentinels=
redis.master=
custom.classes.jar=
user.authenticate.class=
custom.grant_type=
custom.grant_type.class=
hazelcast.password=
cassandra.contanctPoints=
rateLimit.reset.time_in_seconds=